html,
body {
    height: 100%;
}

body {
    background-color: $silver-100;
    font-family: $rubik;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: $dark;
    font-size: 20px;
}

.wrapper {
    height: 100%;
    flex-direction: column;
    display: flex;
}

.content {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    margin-bottom: 110px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.title {
    font-family: $rubik;
    font-weight: 600;
    font-size: 35px;
    line-height: 1.3;
    color: $darkBlue-900;
}

.button {
    color: $white;
    font-size: 14px;
    line-height: 1.3;
    background-color: $orange-900;
    border-radius: 5px;
    padding: 7px 16px;
    transition: background-color 0.3s, color 0.4s;

    &:focus {
        border-radius: 5px;
        color: $orange-900;
        color: $white;
        box-shadow: $boxshadow-focus;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        box-shadow: 0px 5px 12px rgba(255, 104, 56, 0.2), 0 0 0 2px rgba(255, 104, 56, 0.7);
        color: $orange-900;
    }

    &:active {
        background-color: rgba(255, 122, 80, 0.1);
    }

}

.more-detailed {

    color: $darkBlue-900;
    text-decoration: underline;
    border-radius: 5px;
    transition: color 0.4s, box-shadow 0.3s;

    &:focus {
        box-shadow: $boxshadow-focus;
        border-radius: 5px
    }

    &:hover {
        color: $orange-900;
        text-decoration: none;
    }

    &:active {
        color: $dark;
        text-shadow: $textshadow-active;
    }

}

.product-card {

    background-color: $white;
    border-radius: 5px;
    box-shadow: 0 0 0 1px $silver-200;
    padding: 20px 15px;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0 0 0 1px $orange-900;
    }


    &__link {
        margin-bottom: 9px;
        display: grid;
        grid-template: auto minmax(45px, auto)/1fr;
    }

    &__img {
        margin: 0 auto 10px;
    }

    &__title {
        font-size: 15px;
        font-family: $rubik;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    &__price {
        color: $darkBlue-900;
        font-family: $rubik;
        font-weight: 600;
        font-size: 15px;
    }

    &__btn {
        justify-self: center;
        align-self: center;
    }

}

.restaurants-cards {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: $white;
    display: block;
    transition: box-shadow 0.3s;

    &:hover {
        box-shadow: 0px 3px 15px rgba(255, 104, 56, 0.5);
    }

    &__img {
        display: block;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 15px 22px 23px 20px;
        border-radius: 10px;
    }

    &__title {
        font-size: 24px;
        line-height: 1.3;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__time {
        padding-left: 32px;
        font-family: $rubik;
        font-weight: 300;
        font-size: 17px;
        letter-spacing: 0.02em;
        line-height: 1.7;
        opacity: 0.9;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            background-repeat: no-repeat;
            background-image: url('../images/icons/timer-restaurants.svg');
            left: 0;
            bottom: 0;
        }
    }

    &__btn {
        align-self: flex-end;
        padding: 14px 38px 16px 40px;
        background-repeat: no-repeat;
        position: relative;
        border-radius: 20px;
        background-color: $orange-900;
        transition: box-shadow 0.3s, background-color 0.3s;

        &::before {
            content: '';
            width: 24px;
            height: 24px;
            top: 15%;
            left: 32%;
            background-image: url('../images/icons/arrow-right.svg');
            position: absolute;
            transition: transform 0.3s;
        }

        &:focus {
            box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
            background-color: $bg-active;
        }

        &:hover {
            box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
            background-color: $white;
        }

        &:active {
            background-color: $bg-active;
        }

        &:focus::before {
            filter: invert(43%) sepia(99%) saturate(632%) hue-rotate(333deg) brightness(101%) contrast(101%);
        }

        &:hover::before {
            transform: translateX(50%);
            filter: invert(43%) sepia(99%) saturate(632%) hue-rotate(333deg) brightness(101%) contrast(101%);
        }

        &:active::before {
            transform: translateX(0%);
            filter: invert(43%) sepia(99%) saturate(632%) hue-rotate(333deg) brightness(101%) contrast(101%);
        }

    }
}