.best-offer {
    margin-bottom: 110px;

    @include m($xl) {
        margin-bottom: 60px;
    }

    @include m($lg) {
        margin-bottom: 50px;
    }

    @include m($md) {
        margin-bottom: 40px;
    }

    &__title {
        margin-bottom: 60px;

        @include m($xl) {
            text-align: center;
        }

        @include m($lg) {
            margin-bottom: 50px;
        }

        @include m($md) {
            margin-bottom: 40px;
        }

        @include hl {
            margin-bottom: 20px;
        }
    }

    &__subtitle {
        @include line-clamp (2);
        line-height: 1.3;
        font-size: 24px;
        font-weight: 400;

        @include hl {
            font-size: 21px;
        }
    }

    .swiper {
        @include m($lg) {
            width: 360px;
            padding-bottom: 50px;
        }

        @include hl {
            width: 320px;
        }

        @include m($sm) {
            width: 347px;
        }

        @include m($xs) {
            width: 295px;
        }
    }

    &__pagination {
        position: absolute;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        background-color: $gray;
    }

    .swiper-pagination-bullet-active {
        background-color: $orange-900;
    }

    .swiper-pagination-bullet {

        &:not(:last-child) {
            margin-right: 11px;
        }
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 0px;
        display: flex;
        justify-content: center;

    }
}