.customer-reviews {
    text-align: center;
    margin-bottom: 119px;

    &__container {
        max-width: 990px;
        margin: 0 auto;
        position: relative;
        padding-bottom: 84px;
    }

    &__title {
        margin-bottom: 47px;
    }

    &__item {
        text-align: left;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    &__img {
        border-radius: 50%;
        margin-right: 40px;
    }

    &__text {
        font-family: $rubik;
        font-weight: 400;
        font-style: italic;
        font-size: 20px;
        padding: 0 40px;
        position: relative;
        max-width: 567px;

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 19px;
            background-repeat: no-repeat;
        }

        &::after {
            background-image: url('../images/sprite.svg#suffix-right');
            right: 0;
            bottom: 91px;
        }

        &::before {
            background-image: url('../images/sprite.svg#suffix-left');
            left: 0;
            top: 0;
        }
    }

    &__name {
        font-style: normal;
        font-weight: 600;
        color: $orange-900;
        display: block;
        margin: 36px 0 0 0;
        line-height: 1.3;
    }

    &__status {
        font-style: normal;
        font-size: 14px;
    }

    &__button-next,
    &__button-prev {
        position: absolute;
        width: 37px;
        height: 37px;
        border: 3px solid $gray;
        bottom: 2px;
        border-radius: 50%;
        z-index: 20;
        background-position: center;
        cursor: pointer;
        background-repeat: no-repeat;

        transition: box-shadow 0.3s, border 0.3s;

        &:focus {
            box-shadow: $boxshadow-focus;
        }

        &:hover {
            border: 3px solid $orange-100;
            background-color: $bg-active;
        }

        &:active {
            border: 3px solid $bg-active;
        }
    }

    &__button-next::before,
    &__button-prev::before {
        content: '';
        position: absolute;
        width: 17px;
        height: 18px;
        bottom: 21%;
        background-repeat: no-repeat;
    }

    &__button-next {
        right: 39%;

        &::before {
            left: 32%;
            background-image: url('../images/sprite.svg#next-arrow');
        }

        &:hover::before {
            filter: invert(46%) sepia(66%) saturate(1265%) hue-rotate(337deg) brightness(102%) contrast(102%);

        }

    }

    &__button-prev {
        left: 39%;

        &::before {
            left: 48%;
            background-image: url('../images/sprite.svg#prev-arrow');
            transform: translateX(-60%);
        }

        &:hover::before {
            filter: invert(46%) sepia(66%) saturate(1265%) hue-rotate(337deg) brightness(102%) contrast(102%);
        }

    }

    &__pagination {
        position: absolute;
    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        bottom: 4px;
    }

    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        opacity: 1;
        background-color: $gray;
        transition: box-shadow 0.3s, background-color 0.3s;

        &:focus {
            box-shadow: 0 0 0 2px $orange-900;
        }

        &:hover {
            background-color: $bg-active;
            box-shadow: $boxShadow-700;
        }

        &:active {
            background-color: $orange-100;
        }
    }

    .swiper-pagination-bullet-active {
        background-color: $orange-900;
    }

    .swiper-pagination-bullet {

        &:not(:last-child) {
            margin-right: 11px;
        }
    }
}