.footer {

    &__top {
        padding-bottom: 46px;
        display: flex;

        @include m($xl) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        @include m($sm) {
            flex-direction: column;
        }
    }

    &__list {
        column-count: 3;
        column-gap: 5px;
        margin-right: 70px;

        @include m($xl) {
            margin-right: 0;
            order: 2;
            column-gap: 0;
            column-count: 2;
        }

        @include m($lg) {
            column-count: 1;
        }
    }

    &__item {
        &--margin {
            margin-left: 30px;

            @include m($xl) {
                margin-left: 0;
            }
        }

        &:not(:last-child) {
            margin-bottom: 12px;

            @include m($sm) {
                margin-bottom: 13px;
            }
        }
    }

    &__link {
        font-size: 18px;
        line-height: 1.3;
        display: inline-block;
        letter-spacing: 0.01em;
        transition: color 0.3s, box-shadow 0.3s;

        &:focus {
            box-shadow: $boxshadow-focus;
            border-radius: 5px
        }

        &:hover {
            color: $orange-900;
        }

        &:active {
            color: $dark;
            text-shadow: $textshadow-active;
        }
    }

    &__bottom {
        border-top: 1px solid rgba(194, 194, 194, 0.2);
        padding: 30px 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include m($md) {
            padding: 22px 15px;
        }
    }


    &__copy {
        font-size: 14px;
        line-height: 1;
    }

}

.footer-subscribe {
    margin-right: 70px;

    &__logo {
        margin-bottom: 22px;
        display: inline-block;
    }

    &__input {
        border: 1px solid $gray;
        border-radius: 5px;
        padding: 13px 15px;
        width: 200px;
        height: 44px;
        display: block;
        outline: transparent;
        transition: box-shadow 0.3s;
        margin-bottom: 12px;
        background-color: $white;
        color: $dark;


        &::placeholder {
            opacity: 0.9;
            font-size: 14px;
            line-height: 1.3;
            transition: color 0.3s;
            color: $gray;
        }

        &:focus {
            border-radius: 5px;
            box-shadow: 0 0 0 2px $orange-900;
        }

        &:hover {

            &::placeholder {
                color: $darkBlue-900;
                opacity: 0.9;
            }
        }


    }

    &__btn {
        padding: 13px 38px 13px 69px;
        font-weight: 600;
        position: relative;

        &:after {
            content: '';
            background-image: url('../images/sprite.svg#send');
            width: 16px;
            height: 15px;
            top: 50%;
            background-repeat: no-repeat;
            transform: translateY(-50%);
            left: 39px;
            position: absolute;
        }

        &:focus::after {
            filter: invert(43%) sepia(99%) saturate(632%) hue-rotate(333deg) brightness(101%) contrast(101%);
        }

        &:hover::after {
            filter: invert(43%) sepia(99%) saturate(632%) hue-rotate(333deg) brightness(101%) contrast(101%);
        }

        &:focus {
            background-color: $rgba-100;
            color: $orange-900;
            box-shadow: $boxshadow-focus;
        }

        &:hover {
            box-shadow: $boxshadow-focus;
            background-color: $white;
        }

        &:active {
            background-color: $bg-active;
        }
    }

    @include m($xl) {
        margin-right: 0;
    }

    @include m($xl) {
        margin-bottom: 30px;
    }

}


.footer-address {

    line-height: 2;
    margin-bottom: 15px;
    font-size: 16px;

    &__list {
        margin-bottom: 15px;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    &__link {
        padding-left: 31px;
        position: relative;
        transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;

        &::before {
            content: '';
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-40%);
        }

        &--location {
            &::before {
                background-image: url('../images/sprite.svg#location');
            }
        }

        &--phone {
            &::before {
                background-image: url('../images/sprite.svg#calling');
            }
        }

        &--mail {
            &::before {
                background-image: url('../images/sprite.svg#message');
            }
        }

        &:focus {
            box-shadow: $boxshadow-focus;
            border-radius: 5px
        }

        &:hover {
            color: $orange-900;
        }

        &:active {
            color: $dark;
            text-shadow: $textshadow-active;
        }
    }

    @include m($xl) {
        order: 1;
    }

    @include m($sm) {
        margin-bottom: 0;
    }
}

.social {
    display: flex;

    &__item {

        &:not(:last-child) {
            margin-right: 13px;
        }
    }

    &__icon {
        background-color: $silver-200;
        width: 39px;
        height: 39px;
        position: relative;
        border-radius: 50%;
        display: block;
        transition: background-color 0.3s, box-shadow 0.3s;
        background-repeat: no-repeat;

        &:focus {
            box-shadow: $boxshadow-focus;
            background-color: $bg-active;
        }

        &:hover {
            background-color: $orange-900;
        }

        &:active {
            background-color: $bg-active;
        }


        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: 25%;
            left: 25%;
            background-repeat: no-repeat;
        }

        &--facebook {
            &::before {
                background-image: url('../images/sprite.svg#ic-facebook');
            }
        }

        &--twitter {
            &::before {
                background-image: url('../images/sprite.svg#ic-twitter');
            }
        }

        &--inst {
            &::before {
                background-image: url('../images/sprite.svg#ic-instagram');
            }
        }

        &:hover::before {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(200%);
        }

        &:active::before {
            filter: invert(66%) sepia(77%) saturate(3602%) hue-rotate(329deg) brightness(109%) contrast(101%);
        }

    }

    @include m($md) {
        margin-bottom: 30px;
    }
}