.our-app {
    margin-bottom: 120px;

    @include m($lg) {
        margin-bottom: 90px;
    }

    @include m($md) {
        margin-bottom: 50px;
    }

    @include m($sm) {
        margin-bottom: 38px;
    }

    &__content {
        padding: 42px 0 40px 0;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        @include m($xl) {
            background-size: 49%;
        }

        @include m($lg) {
            background-size: 0;
            padding: 0;
        }
    }

    &__title,
    &__text {
        max-width: 540px;

        @include m($lg) {
            text-align: center;
            max-width: 100%;
        }

        @include m($sm) {
            text-align: left;
            max-width: 345px;
        }
    }

    &__title {
        margin-bottom: 49px;

        @include m($lg) {
            margin-bottom: 30px;
        }

        @include m($sm) {
            margin-bottom: 15px;
        }
    }

    &__text {
        margin-bottom: 28px;

        p {
            opacity: 0.9;

            @include m($sm) {
                font-size: 14px;
            }
        }

        @include m($sm) {
            margin-bottom: 15px;
        }
    }

    &__list {
        display: flex;

        @include m($lg) {
            justify-content: center;
        }

        @include m($sm) {
            justify-content: flex-start;
        }
    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__link {
        background-repeat: no-repeat;
        display: block;
        height: 40px;
        border-radius: 5px;
        transition: box-shadow 0.3s, transform 0.3s;

        &:focus {
            box-shadow: 0 0 0 2px $orange-900;
        }

        &:hover {
            transform: scale(0.9);
        }

        &--ios {
            width: 120px;
            background-image: url('../images/app-store.svg');
        }

        &--android {
            width: 135px;
            background-image: url('../images/google-play.svg');
        }
    }
}